@use '../../tokens';

.c-dynamic-modal {
  position: absolute;
  background-color: tokens.$bg-white;
  padding: 18px 20px;
  border-radius: tokens.$border-r-default;
  border: 2px solid tokens.$border-color-default;
  box-shadow: tokens.$shadow-sm;
  z-index: 1000;
}
