@use '../../tokens';

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;

  &__modal {
    background-color: tokens.$bg-white;
    border-radius: 8px;
    padding: 35px 15px 20px;
    width: 90%;
    max-width: 480px;
    max-height: 85vh;
    overflow-y: auto;
    box-shadow: tokens.$shadow-dark-sm;
    transform: translateY(-20px);
    transition: transform 0.2s ease;
    position: relative;

    &__close-btn-wrapper {
      position: absolute;
      top: 8px;
      right: 10px;

      button {
        all: unset;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
