@use '../../tokens';

.c-default-button {
  all: unset;
  cursor: pointer;
  padding: 10px;
  border-radius: tokens.$border-r-soft;
  width: max-content;
  font-weight: 500;

  &--subtle {
    background-color: tokens.$bg-subtle;

    &:hover {
      background-color: tokens.$bg-subtle-hover;
    }
  }

  &--error {
    background-color: tokens.$bg-error;

    &:hover {
      background-color: tokens.$bg-error-hover;
    }
  }

  &--default {
    background-color: tokens.$bg-default;

    &:hover {
      background-color: tokens.$bg-default-hover;
    }
  }
}
