@use '../../tokens';

.c-list-toolbar {
  display: flex;
  column-gap: 10px;
  position: relative;
  flex: 1;

  &__modal {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 5px;
    max-width: 50%;

    &__title {
      @include tokens.text-base-highlight();
    }
  }

  &__item-wrapper {
    display: flex;

    &__item {
      display: flex;

      &__btn {
        all: unset;
        flex: 1;
        display: flex;
        column-gap: 5px;
        align-items: center;
        background-color: tokens.$bg-subtle;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: tokens.$border-r-default;

        svg {
          width: 19px;
          height: 19px;
        }

        &:hover {
          background-color: tokens.$bg-subtle-hover;
        }
      }
    }
  }
}

.c-delete-confirmation {
  @include tokens.text-base();

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;

    button {
      all: unset;
      background-color: tokens.$bg-subtle;
      border-radius: tokens.$border-r-soft;
      cursor: pointer;
      padding: 8px 12px;

      &:hover {
        background-color: tokens.$bg-subtle-hover;
      }

      &:last-child {
        background-color: tokens.$bg-error;
        color: tokens.$text-color-default;

        &:hover {
          background-color: tokens.$bg-error-hover;
        }
      }
    }
  }
}
