@use '../../../tokens';

.c-create-edit-occurrence-form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  cursor: auto;
  flex: 1;
  width: 100%;

  &__title {
    @include tokens.text-base();
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-x: hidden;

    > span {
      @include tokens.text-base-highlight();
    }
  }

  &__error {
    @include tokens.text-xs();
    color: tokens.$text-color-error;
  }

  &__title-edit {
    all: unset;
    flex: 1;
  }

  &__date-wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;

    &__all-day {
      display: flex;
      column-gap: 5px;
      width: max-content;

      input[type='checkbox']:checked {
        background-color: tokens.$bg-default;
      }

      label {
        flex: 1;
        width: 100%;
      }
    }

    &__dates {
      display: flex;
      column-gap: 10px;
    }

    &__date-field {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
    }
  }

  &__desc,
  input[type='date'],
  input[type='time'],
  input[type='number'],
  select {
    all: unset;
    background-color: tokens.$bg-subtle;
    padding: 7px 10px;
    border-radius: tokens.$border-r-soft;
    @include tokens.text-sm();
    color: tokens.$text-color-default;
  }

  &__desc {
    padding: 10px;
  }

  &__desc,
  &__title-edit {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    height: max-content;
  }

  &__times {
    display: flex;
    column-gap: 10px;
    flex: 1;

    input[type='time'] {
      flex: 1;
    }
  }

  &__weekday-rep {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;

    > div {
      display: flex;
      column-gap: 3px;
      align-items: center;
    }
  }

  input[type='number'] {
    width: 30px;
  }

  &__weekday-rep > div > input[type='checkbox'],
  &__ends input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    background-color: tokens.$bg-subtle;
    border-radius: tokens.$border-r-full;
    outline: none;
    cursor: pointer;
    transition: background-color 0.4s;

    &:checked {
      background-color: tokens.$bg-default;
    }

    &:hover {
      background-color: tokens.$bg-default-hover;
    }
  }

  &__rep,
  &__rep-space {
    display: flex;
    align-items: center;
    column-gap: 10px;

    span {
      margin-right: 10px;
    }
  }

  &__rep > div,
  &__rep-space > div,
  &__ends > div {
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: min-content;

    input:disabled {
      color: tokens.$text-color-disabled;
      background-color: tokens.$bg-subtle-disabled;
    }

    input:disabled + label {
      color: tokens.$text-color-disabled;
    }
  }

  &__ends {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
