@use '../../../tokens';

.c-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 20%);

  > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
  }

  &__highlight {
    color: tokens.$text-color-highlight;
    font-weight: 700;
  }

  &__filter-no-data {
    @include tokens.text-lg-highlight();
  }
}
