@use '../../../tokens';

.c-info-card {
  display: flex;
  background-color: rgba(tokens.$bg-default, 0.8);
  border-radius: tokens.$border-r-soft;
  padding: 20px 20px;
  cursor: pointer;
  border: 1px solid tokens.$border-color-dark;
  transition: background-color 0.3s;
  min-height: 130px;

  &:hover {
    background-color: tokens.$bg-subtle;

    .c-info-card__title {
      background-color: tokens.$bg-default;
    }
  }

  a {
    all: unset;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    @include tokens.text-base-highlight();
    margin-bottom: 10px;
    background-color: tokens.$bg-subtle;
    width: max-content;
    border-radius: tokens.$border-r-soft;
    padding: 2px 5px;
    transition: background-color 0.3s;
  }

  &__desc {
    @include tokens.text-sm();
  }
}

.c-info-card--disabled {
  &:hover {
    background-color: rgba(tokens.$bg-default, 0.8);

    .c-info-card__title {
      background-color: tokens.$bg-subtle;
    }
  }
}
