//base colors: success, error, default, etc. Based on yoko mascot color and sea
$blue: #b5e0ff;
$blue-30: rgba($blue, 0.3);
$blue-50: rgba($blue, 0.5);
$blue-70: rgba($blue, 0.7);

$red: #ff615e;
$red-10: rgba($red, 0.1);
$red-30: rgba($red, 0.3);
$red-50: rgba($red, 0.5);
$red-70: rgba($red, 0.7);

$green: #b8ddb0;
$green-30: rgba($green, 0.3);
$green-50: rgba($green, 0.5);
$green-70: rgba($green, 0.7);

$gray: #f8f8f8;
$gray-30: rgba($gray, 0.3);
$gray-50: rgba($gray, 0.5);
$gray-70: rgba($gray, 0.7);

$dark-soft: #313131;
$dark-md: #262626;
$dark: #1a1a1a;

$white: #fff;

//base colors to use with categories
$ice-mint: #ccf0ec;
$periwinkle: #ccccf0;
$pale-lavender: #dbccf0;
$tea-green: #d8f0cc;
$pastel-pink: #f0ccd8;
$baby-blue: #cce1f0;
$pale-peach: #f0e7cc;
$melon: #f0d2cc;
$mint-green: #ccf0de;
$light-magenta: #edccf0;
$pale-lime: #e7f0cc;

// Background colors

$bg-error: $red;
$bg-error-hover: $red-30;

$bg-default: $blue-70;
$bg-default-hover: $blue-50;
$bg-default-invert: $blue-30;

$bg-subtle: $gray;
$bg-subtle-hover: $gray-70;
$bg-subtle-disabled: $gray-50;
$bg-subtle-light: $gray-30;

$bg-white: $white;

$bg-dark: $dark;

$bg-cat-personal: $ice-mint;
$bg-cat-work: $periwinkle;
$bg-cat-study: $pale-lavender;
$bg-cat-finance: $tea-green;
$bg-cat-family: $pastel-pink;
$bg-cat-travel: $baby-blue;
$bg-cat-home: $pale-peach;
$bg-cat-health: $melon;
$bg-cat-reading: $mint-green;
$bg-cat-social: $light-magenta;
$bg-cat-hobby: $pale-lime;

// Border colors
$border-color-default: $red-10;
$border-color-error: $red;
$border-color-success: $green;
$border-color-subtle: $gray;
$border-color-dark: $dark;

// Text colors
$text-color-default: $dark-md;
$text-color-error: $red;
$text-color-success: $green;
$text-color-invert: $gray;
$text-color-highlight: $blue;
$text-color-disabled: rgba($dark-soft, 0.3);
