@use './colors';

/* border radius */
$border-r-soft: 5px;
$border-r-default: 10px;
$border-r-full: 100%;

/* border width */
$border-w-default: 1px;
$border-w-highlight: 2px;

/* opacity */
$opacity-soft: 20%;
$opacity-md: 50%;
$opacity-strong: 70%;

/* shadow */
$shadow-xs: 0px 0px 13px 4px rgba(colors.$gray, 0.3);
$shadow-sm: 0px 2px 20px 2px colors.$gray;
$shadow-md: 0px 10px 20px 5px colors.$gray;
$shadow-lg: 5px 15px 20px 10px colors.$gray;
$shadow-dark-sm: 0px 4px 7px 5px rgba(0, 0, 0, 0.1);
