@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$quicksand: 'Quicksand', sans-serif;

@mixin text-form($fs, $fw: 400) {
  font-family: $quicksand;
  font-weight: $fw;
  font-size: $fs;
  line-height: 1.5;
}

@mixin text-xs {
  @include text-form(13px);
}

@mixin text-xs-highlight {
  @include text-form(13px, 600);
}

@mixin text-sm {
  @include text-form(14px);
}

@mixin text-sm-highlight {
  @include text-form(14px, 600);
}

@mixin text-sm-light {
  @include text-form(14px, 300);
}

@mixin text-base {
  @include text-form(16px);
}

@mixin text-base-highlight {
  @include text-form(16px, 600);
}

@mixin text-lg {
  @include text-form(21px);
}

@mixin text-lg-highlight {
  @include text-form(21px, 600);
}

@mixin text-xl {
  @include text-form(40px);
}

@mixin text-xl-highlight {
  @include text-form(40px, 600);
}
