@use '../../tokens';

.p-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  > div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    row-gap: 30px;
    max-width: 50%;
  }

  &__intro {
    display: flex;
    align-items: center;

    h1 {
      background-color: tokens.$bg-subtle;
      padding: 0px 20px 0px 10px;
      border-radius: tokens.$border-r-soft;
      @include tokens.text-lg-highlight();
      font-size: 35px;
    }

    h3 {
      @include tokens.text-base();
      text-align: center;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-bottom: 40px;

    @media (min-width: tokens.$tablet-min) {
      grid-template-columns: repeat(2, 1fr);
      margin: auto;
    }
  }
}
