@use './tokens';

.c-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  background-color: tokens.$bg-white;
  padding: 5px 30px;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 100;

  @media (min-width: tokens.$desktop-sm-min) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__copyright {
    position: relative;

    > div {
      position: absolute;
      top: -10px;
      left: 30px;
    }

    img {
      width: 19px;
      height: 19px;
    }
  }

  &__version {
    align-self: center;
  }

  &__data {
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    span {
      @include tokens.text-sm();
    }
  }
}
