@use './tokens';

.c-header {
  display: flex;
  max-width: max-content;
  column-gap: 20px;
  padding: 5px 15px;
  align-items: center;
  flex-shrink: 0;
  justify-items: space-between;
  background-color: tokens.$bg-white;
  border: 1px solid tokens.$border-color-default;
  border-radius: 24px;
  box-shadow: tokens.$shadow-dark-sm;
  right: 30px;
  top: 20px;
  z-index: 1800;
  position: absolute;
  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &__left-side {
    display: flex;

    &__period {
      @include tokens.text-base-highlight();
    }
  }

  &__right-side {
    display: flex;
    align-items: center;

    button {
      all: unset;
      padding: 5px;
      cursor: pointer;
      border-radius: tokens.$border-r-default;
      padding: 7px;
      cursor: pointer;

      &:hover {
        background-color: tokens.$bg-subtle;
        border-radius: tokens.$border-r-default;
      }

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
