@use 'sass:meta';
@use './tokens';
@include meta.load-css('reset');

::-webkit-scrollbar {
  width: 5px;
}

::-moz-selection,
::selection {
  background-color: tokens.$bg-subtle;
}

:root {
  color: tokens.$text-color-default;
  @include tokens.text-base();

  --aside-size: 50px;
}

body {
  max-width: 1800px;
  min-height: 100vh;
  margin: 0 auto;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  &__main-wrapper {
    height: 100%;
    width: 100%;

    &:has(.c-calendar-view) {
      > img {
        display: none;
      }
    }

    > img {
      position: absolute;
      bottom: -10px;
      width: 200px;
      right: 0px;
      z-index: 90;
    }

    @media (min-width: tokens.$tablet-min) {
      > img {
        bottom: -85px;
        width: 300px;
      }
    }

    &__outlet-wrapper {
      display: flex;
      flex: 1;
      height: 100%;
      width: 100%;

      &__aside {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: var(--aside-size);
        padding: 20px 0px;
        background-color: tokens.$bg-subtle;

        &__top,
        &__bottom,
        &__middle {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 5px;
          list-style: none;
          padding: 0;

          li {
            display: block;
            cursor: pointer;
            padding: 5px;

            &:hover {
              background-color: tokens.$bg-white;
              border-radius: tokens.$border-r-default;
            }

            img {
              width: 30px;
              height: 30px;
            }

            a,
            button {
              all: unset;
              display: block;
              cursor: pointer;

              svg {
                width: 28px;
                height: 28px;
              }
            }
          }
        }

        &__top {
          margin-bottom: auto;
        }

        &__bottom {
          margin-top: auto;
        }
      }

      &__main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        &__outlet {
          min-height: 0;
          height: 100%;
          width: 100%;
          margin: 5px 5px 0px 0px;
          overflow-y: auto;
          background-color: tokens.$bg-subtle-light;
          border-radius: tokens.$border-r-default;
        }
      }
    }
  }
}

/* tokens */
@include meta.load-css('tokens');
@include meta.load-css('animation');

/* components */
@include meta.load-css('components/utils/divider');

@include meta.load-css('components/display/logo');
@include meta.load-css('components/display/dynamic-modal');
@include meta.load-css('components/display/modal');

@include meta.load-css('components/action/toggle-btn');
@include meta.load-css('components/action/list-toolbar');
@include meta.load-css('components/action/default-btn');

@include meta.load-css('./header');
@include meta.load-css('./footer');

/* pages */
@include meta.load-css('pages/homepage');
@include meta.load-css('pages/homepage/components/info-card');

@include meta.load-css('pages/occurrence');
@include meta.load-css('pages/occurrence/components/create-edit-occ-form');
@include meta.load-css('pages/occurrence/components/occurrence-card');
@include meta.load-css('pages/occurrence/components/not-found');
@include meta.load-css('pages/occurrence/components/calendar-view');
