@use '../tokens/color' as colors;
@use '../tokens/typography' as typography;

.login {
  display: flex;
  height: 100%;
  width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: max-content;
    margin: auto;
    background-color: colors.$color-blue-50;
    border-radius: 10px;
    padding: 40px 30px;

    > img {
      cursor: pointer;
      position: absolute;
      max-width: 150px;
      top: -110px;
      right: 40px;

      &:hover {
        fill-opacity: 0.9;
        opacity: 0.9;
      }
    }

    > div:first-of-type {
      > h3 {
        font-weight: typography.$font-weight-bold;
        font-size: 2rem;
        margin: 0;
        padding: 0;
      }

      > p {
        margin: 0;
        padding: 0;
        font-weight: typography.$font-weight-light;
        text-align: center;
      }
    }

    > form {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      > input {
        border-radius: 10px;
        background-color: colors.$color-white-50;
        padding: 19px 17px;
        font-size: 0.9rem;

        ::placeholder {
          color: colors.$color-black-50;
        }
      }
    }

    > div:nth-of-type(2) {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }

    button {
      width: max-content;
      margin: auto;
    }
  }
}
